.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,128, 0.3), 10.0, 0.0, 0.0, 7.0);
}

.shadow2{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,128, 0.3), 5, 0.0, 0.0, 5);
    -fx-background-radius: 20px;
}

.boton{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,128, 0.3), 5, 0.0, 0.0, 5);
    -fx-background-radius: 30px;
    -fx-background-color: #3761C4;
}

.boton:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,128, 0.3), 5, 0.0, 0.0, 5);
    -fx-background-radius: 30px;
    -fx-background-color: #205098;
}

.boton:pressed{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,128, 0.3), 5, 0.0, 0.0, 5);
    -fx-background-radius: 30px;
    -fx-background-color: #2E5481;
}


.fondo{
  
     -fx-background-color: linear-gradient(to top, #F2F2F2, #13355A);
}

.fondoBlanco{
    -fx-background-color: white;
}
